.divCards{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.card-body{
    display: block;
}
.card-title{
    font-family: 'Righteous', cursive;
    font-family: 'Shrikhand', cursive;
    font-size: 24px;
}

.tmB{
    width: 50%;
    float: left;
}

.btn-primary, .btn-danger{
    width: 90%;
    float: center;
}


.card-text{
    font-size: 19px;
}
